**<center><font color='#023F7C' size="6.5">Python beginner &#128421;&#65039;</font>** <br>
<font color=#023F7C size=4>**Hi! PARIS DataBootcamp 2025**</font> <br>
<font color=#023F7C size=2>11:30AM-12:30PM / 1:30PM-2:30 PM </font> <br>

</center>

<img src = https://www.hi-paris.fr/wp-content/uploads/2020/09/logo-hi-paris-retina.png width = "300" height = "200" >

<font color="#023F7C">**Authors**:</font>
- Laur√®ne DAVID, Machine Learning Research Engineer @ Hi! PARIS <br>
- Marguerite LEANG, Machine Learning Research Engineer @ Hi! PARIS<br>

# **<font color='#023F7C'>Introduction</font>**

In this course, you will learn how to use **Python Programming for Data Science.** <br>
- We will start by giving a quick recap on **Python's syntax** üíª. <br>
- Then, we will focus on the most important **Data Science libraries** üöÄ.

<font size=5>**Why should you learn Python ? üë©‚Äçüè´**</font> <br>


Python is one of the most popular programming languages in the world. <br>
Today, it is used for many tasks such as *Data visualization*, *Web development*, *Machine Learning*, *Deep Learning*,...
- **Beginner-friendly** language with simple syntax and built-in data structures.
- **Open-source** language with a very active community of developers and large ecosystem of libraries.
- High demand across industries for **Data Science jobs** (Data Analyst, Data Scientist, ML Engineer,...)


<br>

<img src = https://i.redd.it/3p3dct1b86081.png width = "500" height = "400">

<font size=5>**How to start coding in Python ? üñ•Ô∏è**</font> <br>

You can code in Python using a **terminal**, an **IDE** (Integrated Development Environment) or **Online notebooks**. <br> Here are some resources to start your Python journey:
- **Installing Python**: Python has many available versions that can be downloaded from its website. <br> We recommend you install a Python 3.8-3.10 on your computer. The latest version in August 2025 is Python 3.13.7 but some external packages might not work in the newer versions. You can find the versions [here](https://www.python.org/doc/versions/).

- **Popular IDE's**: IDE's are software applications that provide comprehensive tools for writing, debugging, and executing Python code. Popular IDE's include [JupyterLab](https://jupyterlab.readthedocs.io/en/stable/getting_started/overview.html), [VSCode](https://code.visualstudio.com/) , [PyCharm](https://www.jetbrains.com/pycharm/) and [Spyder](https://www.spyder-ide.org/).

- **Online notebooks** : Python notebooks are interactive computing environments that contain coding cells and more. <br> Some websites ([Google Colab](https://colab.research.google.com/), [Kaggle](https://www.kaggle.com/)) offer online notebooks with free computing resources and built-in libraries.

<font size=5>**Coding guidelines üí°**</font> <br>

Before starting the course, we'd like to share a few best practices for Python developers.
- Add comments to your code with `#`
- Create unique variable names (not already defined in Python)
- Don't hesitate to debug your code using `print()`
- Restart your Python environment when using a notebook
- Use the `help()` function to get more information

# <font color='#023F7C'>**1. Fundamentals of Python programming üíª </font>**

This first section is as a quick reminder of Python's basic statements and functionalities. <br>
For a more detailed course on Python programming, you can open the **Python crash course** notebook.

## <font color='#023F7C'>**1.1. Built-in Data types**</font>

Python has powerful built-in data types to store information in memory. <br>
These data types allow you to create and store objects in different formats.

| Data type | Description |
| --------- | ----------- |
| Numerical (`int`, `float`) | Integer or float numbers `1` (int), `1.0` (float)|
| String (`str`) | Text data between quotation marks `"hello"` |
| List (`list`) | Ordered collection of objects `[1, 2, 3]` |
| Dictionary (`dict`) | Unordered collection with key-value pairs `{key: value}` |
| Boolean (`bool`) | Represent the truth value of an expression (`True` or `False`) |
| None (`NoneType`) | An object with no value (`NaN`: *Not a Number*) |

####<u>**Python variables**</u> <br>
In Python, variables are **defined/created using `=`.** <br>
Variables can be of any type and are used to store information.

*The `=` symbol shouldn't be confused with `==` which is used to check equality between two variables*.

In [ ]:
## NUMERICAL TYPES

# Create an integer variable (zero, positive or negative whole number)
int_num = 5

# Create a float variable (decimal / fractional number)
float_num = 2.0

####<u>**Sequences**</u> <br>
Data types that are **`collection`** of objects are called sequences. <br>
There are two types of sequences: **Ordered** and **Unordered**.
- **Ordered sequences/collections** (strings, lists) can be access via a positional indexing with slicing.
- **Unordered sequences/collections** (dictionaries) are accessed via a `key`.

In [ ]:
## STRINGS (ORDERED SEQUENCE)

# Create a string and select its first element
text = "hello"

'h'

*Don't forget that indexing start at 0 in Python !*

In [ ]:
## LISTS (ORDERED SEQUENCE)

# Create a list and select the first three elements
list1 = [2, 7, 1, "hello"]

In [ ]:
## DICTIONARIES (UNORDERED SEQUENCE)

# Create a dictionary and select an element by its key
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
## OTHER DATA TYPES

boolean = True # boolean (or False)
none = None # NoneType

You can modify a data type with python functions such as `int()`, `float()`, `str()`,... <br>
This can be useful if Python gives the wrong data type to a variable.

In [ ]:
# Convert a int number to a string
str(int_num)

In [ ]:
# Convert a string to a list
list(text)

In [ ]:
# Check the type of a variable using type() built-in function
type(int_num)

In [ ]:
type(str(int_num))

Other data types exist in Python, such as `sets` or `tuples` that we won't cover today.

<br>

## <font color='#023F7C'>**1.2. Conditional statements**</font>

**Conditional statements** allow you to **execute code based on the validity of a statement**. <br>
To create statements, Python has `built-in operators` for many types of operations.

####<font size=5><u>**Built-in operators**</u></font> <br>

Python has built-in operators to test arithmetic, comparison, logical and membership operations. <br>
Here is a table that summarizes each operation.



| Operation | Description | Operators |
|---------------|-------------|----------|
|Arithmetic|  Perform mathematical operations <br> on numerical type objects | Addition (`+`), Substraction (`-`), <br> Multiplication (`*`), Power (`**`)|
| Comparison | Compare two variables | Equality (`==`), Inequality (`!=`), <br> Greater than (`>`) |
|Logical| Check the validity of multiple statements | All statements are True (`and`), <br> At least one is True (`or`) |
| Membership | Check if an object is present or not in a sequence (strings, lists, dictionaries,...) | An object is present (`in`), <br> An object is not present (`not in`).

<br>

These operations return boolean variables (`True` or `False`)

In [ ]:
a, b = 10, 25

In [ ]:
# Equality operator ==
a == b

In [ ]:
# Logical operator "and"
(a > 5) and (b < 30)

####<font size=5><u>**If-else statement**</u></font> <br>

Conditional statements are created using the `if` and `else` keywords.

An if-else statement executes code if the `if` statement is True. <br>
It provides an alternate block of code with `else` if the statement is False (not mandatory).

In the following example, the `number > 0` statement is tested.

<img src = https://www.programiz.com/sites/tutorial2program/files/python-if-else.png width = "450" height = "250" >

*Don't forget to indent code inside a conditional statement !*

In [ ]:
# IF-ELSE statement to check if Hi! is in the list
hi_list = ["Hi!", "PARIS", "Data", "Bootcamp"]

for elem in hi_list:
    if elem == "Hi!":
        print("Yes")
    else:
        print("No")

You can add multiple statements (other than if) using an `elif` statement. <br>
To learn more, you can go to the pre-bootcamp Python crash course.

<br>

## <font color='#023F7C'>**1.3. For-loops**</font>
**For-loops** allow blocks of code to be repeated a fixed number of times. <br>
They are created using the `for` Python keyword.

*Don't forget to indent the block of code that runs inside a for-loop statement !*

In [ ]:
for i in [2, 4, 6, 8]: # for-loop on a list
  print(i)

There are functions/methods commonly used with for-loops: <br>
- `range()`: Create a list/range of integers you can iterate on with a loop (function). <br> *Example: Parse through the indexes of an iterable*.

- `.append()`: Add elements at the end of a list with a loop (list method).  <br> *Example: Save the results of a for-loop in a list*.

In [ ]:
# Print the indexes of a list
list_numbers = ["a", "b", "c", "d"]

for i in range(len(list_numbers)):
  print(i)

In [ ]:
start = 1
end_not_included = 10
step = 2
for i in range(start, end_not_included, step):
  print(i)

In [ ]:
# Start with an empty list
list_e = []

# Add the square values of a list of integers to it
for i in [1, 2, 3, 4, 5]:
  list_e.append(i**2)

list_e

<br>

## <font color='#023F7C'>**1.4. Python Functions**</font>

**A function is a sequence of statements that performs an operation.** <br>
Python functions are either built-in, imported from external sources or user-defined.

####<font size=5><u>**Built-in functions**</u></font><br>

Python provides many useful built-in functions. <br>
Here are a few important ones:

| Function | Description | Use |
|----------| ------------|-----|
| `print()` | Print values/variables to the standard output | Any object |
| `len()` | Return the length of an object | string, list |
| `type()` | Return the type of an object | Any object |
| `abs()` | Return the absolute value of a number | int, float |
| `sum()`  | Return the sum of all elements | list|
| `max()`, `min()` | Return the max or min value of a sequence of values | list |

<br>

You can find the full list of built-in functions [here](https://docs.python.org/3/library/functions.html).

In [ ]:
print("list:", len([1, 2, 3, 4])) # return the length of a list
print("str:", len("Hello")) # return the length of a string (nbr of characters)

In [ ]:
print(sum([1, 2, 3, 4])) # compute the sum of a list of numbers
print(max([1, 2, 3, 4])) # return the maximum  value of a list of numbers

####<font size=5><u>**Custom functions**</u></font><br>

Python allows practionners to write their own functions. <br>
There are many advantages of writting functions such as **code reusability**, **organization**, **readability**, ...

<img src = https://media.geeksforgeeks.org/wp-content/uploads/20220721172423/51.png width = "700" height = "300" >

To create a custom function, you need to add:
- A `def` keyword to define the function,
- **Parameters** that will be the input values of your function,
- A **return statement** to be returned once the block of code has run.

In [ ]:
# Create a function with the name 'add_numbers'
# that computes the sum of 2 numbers 'num_1', 'num_2'
# and return this sum

In [ ]:
# Create a function 'compute_squared' that computes the squared value of
# a number 'num' as input

In [ ]:
# Call this function and compute the squared value of 10

In [ ]:
# Create a function 'square_list' that computes the squared value of
# each element in a list, 'list_input'
# 1. Define an empty list 'result'
# 2. Write a for loop to iterate over the 'list_input'
# 3. Compute the squared value elem**2 + append result using .append()
# 4. Return the result list

def square_list(list_input):
  result = []
  for elem in list_input:
    result.append(elem**2) # save results to an empty list using .append()
  return result # return the result list

In [ ]:
square_list([2, 4, 6, 8])

You can also define "anonymous" function on a single line of code. <br>
These functions are called **lambda functions**.

To learn more about them, you can visit the pre-bootcamp Python course.

##<font color='#023F7C' size=5>**Let's recap**</font><br>
<font size=4> <ol start=1>
  <li><b>Data Types</b>: </li>
    <ul>
    <li> Built-in data types: Numerical (int, float), strings, lists, dictionaries, boolean, NoneType </li>
    <li> Ordered vs Unordered collection (slicing allowed or not) </li>
    <li> Indexing starts at 0 in Python </li>
    </ul>

  <li> <b>Conditional statements</b>: </li>
    <ul>
    <li> Python operators: Arithmetic, Logical, Comparison, Membership </li>
    <li> Create statements with if and else
    </ul>
    
  <li> <b>For-loops</b> </li>
    <ul>
    <li> Repeat code a fixed number of times </li>
    <li> Use .append() and range() in for-loops </li>
    </ul>

  <li> <b>Functions</b> </li>
    <ul>
    <li> Python built-in functions: print(), len(), max(), min(), ... </li>
    <li> Custom functions with def: input parameters, return statement </li>
    </ul>
</ol>
</font>



---

# <font color='#023F7C'>**2. Python for Data Science üöÄ**</font>

Python has a rich ecosystem of **open-source libraries** for Data Science. <br>
These libraries are useful for every step of a project, from **Data Cleaning üßπ** to **Model Building ‚öôÔ∏è**.

You'll use many libraries during the bootcamp such as NumPy, Pandas, Matplotlib/Seaborn and Scikit-learn. <br>
This section will help you familiarize yourself to them.

<br>

<img src = "https://miro.medium.com/v2/resize:fit:1400/1*PMvSWYzafqUVMsmQDsWEPA.png" width = "550" height = "350" >

####<font size=5>**What is an open-source library ?**</font><br>
A Python library contains bundles of code (functions, classes..) that isn't built-in into Python. <br>
Libraries need to be installed then imported to your code.

Open-source means that it is available to the public for free.

- Install a library with `pip install <library>` (in terminal or notebook cell)
- Import a library with `import <library>` (import a function with `from` or give an alias with `as`).

####<font size=5>**Additional ressources üìö**</font><br>
We've provided additional ressources on how to use Python for Data Science. <br>
These ressources are free and include Python code examples.
- [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by Jake VanderPlas
- [An Introduction to Statistical Learning](https://www.statlearning.com/) (Python version) by G. James, D. Witten, T. Hastie, R. Tibshirani and J. Taylor

##  <font color='#023F7C'>**2.1. Numerical Computing with Numpy**</font>

**NumPy** is a fundamental Python library for Numerical computing. <br>

It provides tools to work with **numerical arrays and matrices**. <br>
It also provides a vast collection of **mathematical functions** that can be used on arrays.

In [ ]:
import numpy as np

####**<font size='5'><u>Numpy arrays**</u></font> <br>

NumPy provides an array object to **store and manipulate numerical data types.**  <br> They are defined using `np.array()`.
- Arrays are **ordered collections of data** (same as lists)
- Arrays can be **multidimensional** (1D, 2D, 3D...)

<img src = https://predictivehacks.com/wp-content/uploads/2020/08/numpy_arrays-1024x572.png width = "500" height = "300" >

**Questions**

*1D array*
*   Q1.  : How many axis are there ? How can you see in the shape ?

*2D array*
*   Q2. How many axis are there ?
*   Q3. How can you see in the shape ?
*   Q4. What does the first dimension of the shape represent ?
*   Q5. What does the second dimension of the shape represent ?



*3D array*
*   Q6. How many axis are there ?
*   Q7. How can you see in the shape ?
*   Q8. What does the first dimension of the shape represent ?
*   Q9. What does the second dimension of the shape represent ?
*   Q10. What does the third dimension of the shape represent ?


**Exercices**
*   Q11. An image array has this shape (256, 256, 3). How many dimensions are there ?

*   Q12. Another image array has this shape (256, 256, 4). How many dimensions are there ?

In [ ]:
# Create a 1D array with np.array()
array_1d = np.array([0, 2, 4, 6, 8, 10])
array_1d

In [ ]:
# Create a 2D array with np.array()
array_2d = np.array([[1, 3, 5], [7, 9, 11]]) # 2D array (matrix)
array_2d

To know the **shape of an array**, you can use the following functions: `np.shape()` or `.shape`

In [ ]:
# Return the shape of an array
print("1D shape:", np.shape(array_1d))
print("2D shape:", np.shape(array_2d))

Numpy arrays are sliced using **positional indexing**:
- 1D: Arrays are sliced with a single index
- 2D: Arrays are sliced with two indexes

In [ ]:
# Slice a 1D array
array_1d[0]

In [ ]:
# Slice a 2D array
array_2d[0, 0]

In [ ]:
# Select multiple elements with :
array_2d[:2, :] # select the first two rows of the array

####**<font size='5'><u>Numpy operations**</u></font> <br>

Numpy has many **mathematical functions that can be used on its arrays.** <br>
It contains advanced mathematical functions that aren't always available built-in in Python.

| Type | Numpy functions | Description |
| ------------------| ------------|-----------------|
| Basic operations | `np.add()`, `np.substract()`, `np.multiply()`, `np.divide()` | Functions to add, substract, multiply, divide arrays together
| Rounding/Absolute |  `np.round()`, `np.floor()`, `np.abs()` | Round a value or compute its absolute value |
| Statistical | `np.mean()`, `np.median()`, `np.std()` | Compute basic statistical metrics (mean, median, std,...) |
| Exponential/Logarithmic |   `np.exp()`, `np.log()` |  Exponential and logarithm functions |

In [ ]:
print(np.exp(0)) # exponential
print(np.log(1)) # log

In [ ]:
# Apply the log function to each element of an array
array_log = np.array([3, 2, 4, 6, 8, 10])
np.log(array_log)

In [ ]:
# Sum the elements of array1 and array2 element wise
array1 = np.array([2, 4, 6, 8, 10])
array2 = np.array([2, 2, 2, 2, 2])

np.add(array1, array2)

You can find a cheatsheet with more numpy functions
[here](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Numpy_Python_Cheat_Sheet.pdf).

## <font color='#023F7C'>**2.2. Data Wrangling with Pandas</font>**

**Pandas** is a popular library for Data manipulation and analysis. <br>
It offers powerful data structures (series, dataframes) and tools to handle structured data. <br>

In [ ]:
import pandas as pd

####**<font size='5'><u>What are DataFrames ?**</u></font> <br>

Dataframes are **two-dimensional** data structures (or tables) with **rows** and **columns** `pd.DataFrame()`. <br> Each row is identified with an index label, and each column by a column name. <br>

Dataframes are very similar in structure to excel/csv tables.

<img src = https://pynative.com/wp-content/uploads/2021/02/dataframe.png width = "600" height = "300" >

>*Note that dataframes with a single column are called Series*.

####<u>**<font size='5'><u>Build a DataFrame</u>**</font> </u><br>

#####**1. Dataframes can be defined with using a Python dictionary**.

The dictionary's keys are the column names and the values are the data inputs. <br>
Let's create a dataframe using the `name_column`, `age_column` and `marks_column` lists.

In [ ]:
# Create a list for each column
name_column = ["Joe", "Nat", "Harry", "Sam", "Monica"]
age_column = [20, 21, 19, 20, 22]
marks_column = [85.10, 77.80, 91.54, 88.78, 60.85]

In [ ]:
import pandas as pd

In [ ]:
# What are the data type of one element of name_column, age_column, marks_column ?
# Select the first element of the list
# Use type() built-in function
# Display the result using print()

In [ ]:
# Define the dataframe using a dictionary
df = pd.DataFrame({"Name": name_column,
                   "Age": age_column,
                   "Marks": marks_column})

In [ ]:
df.head(n=3) # head = show the first n rows

    Name  Age  Marks
0    Joe   20  85.10
1    Nat   21  77.80
2  Harry   19  91.54

#####**2. Dataframes can also be created using a 2D numpy array**.

To define the column names, you can use the `columns=` parameter.

In [ ]:
# Create a 2D numpy array
array_2D_df = np.array([[20, 21, 19, 20, 22], [85.10, 77.80, 91.54, 88.78, 60.85]])
array_2D_df.T # Transpose

NameError: name 'np' is not defined

In [ ]:
# Build the dataframe
df = pd.DataFrame(array_2D_df.T, columns=["Age", "Marks"])
df.head()

#####**3. Dataframes can be loaded from external files (csv, excel, json ...).** <br>

The `pd.read_csv()` function loads csv files from a given file path. <br>
Other functions exist for different types of files (`pd.read_excel`, `pd.read_json`, ...).

In [ ]:
# Load the olympic games dataset
dataset = pd.read_csv("athlete_events.csv")

In [ ]:
dataset.head()

For the reminder of this course, we will use the `dataset` dataframe as an example. <br>
The dataframe contains every athlete who has competed in an event final during an olympic game.

####**Select columns** <br>
- To select a column of a dataframe, you have to use brackets `[]`. <br>
- To select multiple columns, you have to use double brackets `[[]]` (or a list within a single bracket).

In [ ]:
# Select the "Name" column
dataset["Name"]

In [ ]:
# Select the "Name" and "Team" column

####**Pandas dtypes** <br>
Pandas has its own data types to store information:
- **Numerical variables** are stored as `int64` or `float64` (`64` refers to the number of bits used to store the value).
- **String/mixed type variables** are stored as `object`
- **Date & time data** as `datetime64[ns]` (`ns` for nano-second based)

In [ ]:
# Print dtypes
dataset.dtypes

You can get general information on a dataframe using `.info()` . <br>
This includes the shape of your data, the variable names and dtypes, the existence of missing values, ...

In [ ]:
dataset.info()

####<u>**<font size='5'>Indexing a DataFrame**</font> </u><br>

DataFrames are ordered collections of data. <br>
They can be filtered using label and integer-based indexing (`.loc[]`, `.iloc[]` respectively).

#####**`df.loc[conditional_statement]`** <br>
**Select a group of rows in a DataFrame using a conditional statement**. <br>
The conditional statement should apply to columns (and not rows). <br>

In [ ]:
# Select every female athletes using "Sex"
dataset.loc[dataset["Sex"]=="F"]

Bitwise Operators can also be used to add multiple statements to `.loc[]`.
- `&`: AND
- `|`: OR
- `~`: NOT

You can write several conditional statements as following:

`df.loc[(conditional_statement_1) BITWISE_OPERATOR (conditional_statement_2)]`

In [ ]:
# Select every female athlete who is over the age of 30

#####**`df.iloc[row_indices, column_indices]`** <br>
**Filter rows in a DataFrame based on positional index**. <br>

This method only accepts integer indices for rows and columns.

In [ ]:
# Select rows between indexes 10 and 20

<br>

####**<font size='5'><u>Manipulating Dataframes</u>**</font> <br>

Pandas has a large collection of methods to **manipulate DataFrames**. <br>
These methods include sorting columns, reseting indexes, converting columns to lists, ... <br>

>*Note that Pandas' methods are usually stacked one after the other in a single line of code*.

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.head()`/`.tail()`| Select the first or last *n* rows  | `n`: Number of rows to select, default n=5 |
| `.drop()`| Drop rows or columns from a dataframe | `index`: Indexes to drop <br> `columns`: Columns to drop |
| `.sort_values()`| Order rows based on the values of one or more columns | `by`: Column names to sort by <br> `ascending`: Way of sorting (bool) <br> `inplace`: Perform operation in place (bool)|
| `.value_counts()`| Count the number of rows with each unique variable value | `normalize`: Normalize frequencies (bool) <br> `sort`: Sort by frequencies
| `.reset.index()`| Reset index to row numbers, moving index to columns | `drop`: Keep or drop previous index to df (bool) <br> `inplace`: Apply modifications directly to df (bool)
| `.unique()` | Get the unique values in a DataFrame or Series (column) |
| `.nunique()` | Get the number of unique values in a DataFrame or Series (column) |
| `.to_frame()` | Convert a pandas series to a dataframe |
| `.astype()` | Convert a pandas object (series, dataframe) to a specified dtype | `dtype`: Dtype to cast
| `.to_list()` | Convert the column of a DataFrame to a list |

In [ ]:
# Count the number of participating athletes per sport

In [ ]:
# Convert the previous series to a dataframe
dataset["Sport"].value_counts().to_frame()

In [ ]:
# Get the number of unique values in "Year"

In [ ]:
# Select the athletes that competed in Swimming events then order them by age

For **missing values**, you can use the following functions:

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.dropna()`| Remove missing values (NaN) | `axis`: Drop rows with NAN (0) or columns (1) <br> `subset`: Columns to drop NaN from |
| `.fillna()` | Fill NaN values with a specific value | `value`: Value to replace NaN (scalar, dict, df)

In [ ]:
# Get the number of missing values per column
dataset.isna().sum()

In [ ]:
# Remove rows with missing values in "Age"

**Note: The previous lines of code didn't modify the original `dataset` dataframe.** <br>
Many of these functions have an `inplace` parameter that when `True` applies modifications directly to the dataframe.

You can also use the following methods to apply modifications to a dataframe.

####**<font size='5'><u>Modify a DataFrame**</u></font> <br>

DataFrames can be modified after being created (we call these objects mutable). <br>
You can easily **add new columns or modify existing columns to these objects.** <br>

- Add new columns with `df[new_column_name] = ...`
- Modify an existing column with `df[column_name] = df[column_name]...`

In [ ]:
# Convert the "Year" column to string values

#####**`.apply()`** <br>
**Apply a function a function to a pandas series/dataframe.**
<br>
Lambda functions are commonly used with the apply method but you can use any type of function.

In [ ]:
# Create a column "has_medal" with 0 if the athlete didn't win a medal, 1 if he/she did
# we will use pd.isna(x)==True

#####**`.melt(id_vars, value_vars)`** <br>
**Reshape a DataFrame by rearranging rows and columns to achieve a different format.** <br>

The Pandas' `.melt()` function returns the unpivoted DataFrame:

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.melt()`| Unpivot a df from wide to long format | `id_vars`: Column(s) to use as identifier variables <br> `value_vars`: Column(s) to unpivot. If not specified, uses all columns that are not set as id_vars |


This method reshapes a dataframe from a wide to long format. <br>
- Wide format: Each variable is represented by its own column
- Long format: Multiple variables are grouped into a single column

<img src = https://miro.medium.com/v2/resize:fit:1400/1*0d-R1gfAisD9822v0qw5aA.png width = "700" height = "400" >

In this example, every column that indicated a year got grouped into two "Year" and "GDP" column.
- "Year" gives an indication as to which year the row belongs to
- "GDP" contains the original values of the year columns

The other columns remained untouched as "ID variables".

The Pandas' `.melt()` function returns the unpivoted DataFrame:

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.melt()`| Unpivot a df from wide to long format | `id_vars`: Column(s) to use as identifier variables <br> `value_vars`: Column(s) to unpivot. If not specified, uses all columns that are not set as id_vars |

In [ ]:
# Use the .melt() function to group "Weight" and "Height" to the same column
# We will keep only name and sex as ID variables

dataset_slice = dataset[["Name", "Sex", "Weight", "Height"]]

####**<font size='5'><u>Summarizing a DataFrame</u>**</font> <br>

Similarly to numpy, Pandas has built-in **statistical functions** you can apply to columns. <br>
Examples are `.mean()`, `.count()`, `.size()`, `.max()`

In [ ]:
# Compute the average height and weight of athletes
dataset[["Height", "Weight"]].mean()

Using these statistical functions, you can summarize information by **grouping data based on one or more variable.** <br>
Grouping is done using `.groupby()`

In [ ]:
# Compute the average height of athletes per sport

In [ ]:
# Compute the average height of athletes per sport and gender

####**<font size='5'><u>Concatenate DataFrames</u>**</font> <br>


#####**`.concat()`** <br>

**Concatenate two dataframes along a common axis (rows or columns).** <br>
The `axis` parameters allows you to choose which type of concatenation you want to apply.
- Vertical (`axis = 0`): Assemble dataframes along the rows.
- Horizontal (`axis = 1`): Assemble dataframes along the columns.


<br>

<img src = https://miro.medium.com/v2/resize:fit:2000/1*NLnoAF5uOSBC2Y7IuzfM_Q.png width = "800" height = "400" >

In [ ]:
# First dataframe
df3 = pd.DataFrame({'Name': ['Alice', 'Bob'],
                    'Age': [25, 32]})
df3

In [ ]:
# Second dataframe
df4 = pd.DataFrame({'Name': ['Charlie', 'David'],
                    'Age': [28, 21]})
df4

In [ ]:
# Concatenate DataFrames along the rows (axis=0)
concatenated = pd.concat([df3, df4], axis=0)
concatenated

In [ ]:
# Concatenate DataFrames along the columns (axis=1)
concatenated = pd.concat([df3, df4], axis=1)
concatenated

####**<font size='5'>Let's recap on Pandas:**</font> <br>
- Pandas Data structures: `pd.DataFrame()`, `pd.Series()`
- Pandas dtypes: `int64`, `float64`, `object`
- Load a csv/Save to csv: `.read_csv()`, `.to_csv()`
- Reshape dataframes: `.melt()`
- Aggregate dataframes: `.groupby()`, `.mean()`, `.agg()`
- Index/Filter a dataframe: `[]`, `.loc[]`, `.iloc[]`
- Modify a column: `map()`, `.apply()`
- Concatenate dataframes: `pd.concat([df1, df2])`


You can find more pandas features in this [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf). <br> You can also visit the [pandas website](https://pandas.pydata.org/docs/getting_started/index.html) to access its full API.

####**<font size='5'>Bonus: Plots with Pandas**</font> <br>
Pandas has a plotting function `.plot()` that can be useful to generate simple plots from dataframes.
- `x`, `y`: define which columns are used in the plot
- `kind`: choose the type of plot (lineplot, barplot,...)

In this example, we are going to plot the average age of athletes in "Archery", "Bobsleigh", "Curling" and "Football".

In [ ]:
# The pandas plot requires matplotlib
import matplotlib.pyplot as plt

In [ ]:
# Dataframe with the average height of athletes for all sports
df_age_games = dataset.groupby("Sport")["Age"].mean().to_frame().reset_index()
df_age_games.columns = ["Sport", "Age"]

In [ ]:
# Filter sports in "Archery", "Bobsleigh", "Curling" and "Football"
df_age_games = df_age_games.loc[df_age_games["Sport"].isin(["Archery", "Bobsleigh", "Curling","Football"])]
df_age_games

In [ ]:
# Create a barplot from the dataframe with the average ages

Here is a list of all the types of plots you can create with `.plot()` using the `kind` parameter
- `line`: line plot (default)
- `bar`: vertical bar plot
- `barh`: horizontal bar plot
- `hist`: histogram
- `box`: boxplot
- `kde`: Kernel Density Estimation plot
- `density`: same as `kde` (kernel density estimate)
- `area`: area plot
- `pie`: pie plot
- `scatter`: scatter plot (DataFrame only)
- `hexbin`: hexbin plot (DataFrame only)

Learn more about pandas' plot function here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html

## <font color='#023F7C'>**2.3. Data visualization with Matplotlib & Seaborn**</font>

Python has many popular libraries to create visualizations. <br>
Today we will focus on two of its most popular libraries, **Matplotlib** and **Seaborn**.

In [ ]:
# Install a package on JupyterLite
# import piplite
# await piplite.install('seaborn')

In [ ]:
import matplotlib.pyplot as plt # pyplot = submodule of matplotlib
import seaborn as sns

####**<font size='5'>Plots with Matplotlib**</font> <br>

Matplotlib is a popular data visualization library with a large collection of plotting functions. <br>
- Many tools to customize plots with titles, legends, labels,...
- Plotting functions/tools in `matplotlib.pyplot` submodule (alias `plt`)
- Libraries built on top of Matplotlib: Seaborn, Pandas (plot function)

Matplotlib creates plots by drawing a **Figure**, an overall container for the plot. <br>
Within a Figure, you can add axes, data points, a title, etc..

<br>

| Component | Description | Function |
|----------| -------------|---------------------|
| Figure | Container that holds all the elements of a plot <br> (It is implicitly called when you call a plot function)  | `plt.figure()`|
| Plot function | Create various kinds of plots (line, scatter, bar,...) | `plt.plot()`, `plt.scatter()`, <br> `plt.bar()`, `plt.hist()`... |
| Legend | Provide additional information about plotted data | `plt.legend()` |
| Title | Provide a title to the plot | `plt.title()`|
| Axis labels | Add labels for the x and y axis | `plt.xlabel()`, `plt.ylabel()` |
| Show | Display all open figures (not mandatory) | `plt.show()` |

<br>

<img src = https://matplotlib.org/3.1.0/_images/anatomy.png width = "500" height = "500" >

In this example, we are going to recreate the same plot as in the pandas section but add more visual elements.

In [ ]:
df_age_games

In [ ]:
## Build the plot
plt.bar(df_age_games["Sport"], df_age_games["Age"], color=["red", "blue", "green", "orange"])

## Add components
plt.title("Average age of athletes per selected sport") # add title
plt.xlabel("Sport") # add label on x-axis
plt.ylabel("Age") # add label on y-axis
plt.show() # show plot (not mandatory)

In [ ]:
# Create a scatter plot with height and weight
plt.figure(figsize=(10, 6)) # Modify the size of the plot

plt.xlabel("Height (cm)")
plt.ylabel("Weight (kg)")
plt.title("Athlete's height vs weight")
plt.show()

Most of matplotlib's components can also be used with *Seaborn* and *Pandas* to customize plots. <br>

####**<font size='5'>Plots with Seaborn**</font> <br>

**Seaborn** is a high-level plotting library built on top of Matplotlib. <br>
- Simpler syntax than matplotlib
- Less customizable but offers improved visual aesthetics (many themes available)
- Created for statistical data visualization (`kdeplot`, `histplot`,...)

<br>

<img src = https://miro.medium.com/v2/resize:fit:1107/1*oyX3i6zDjjvdy2IVRa-oAw.png width = "500" height = "300" >

Seaborn's plotting functions have a **dataset-oriented API**. <br>
Seaborn takes dataframes as input to create graphs.

Here are commonly used parameters in seaborn plots.
- `data`: Input dataframe to create plot
- `x`, `y`: Variables to use as x, y axis
- `hue`, `fill`: Grouping/id variable that will produce plots with different colors

In [ ]:
# Plot the distribution of ages using sns.kdeplot

Let's plot the number of medals won by each country (NOC) using seaborn's bar plot. <br>
We will only keep countries who have at least won 50 medals to make the plot readable.

In [ ]:
df_nb_medals_country = dataset.groupby("NOC")["has_medal"].sum().reset_index()
df_nb_medals_country.columns = ["Country", "has_medal"]

In [ ]:
# Keep countries with at least 50 medals
df_nb_medals_country = df_nb_medals_country.loc[df_nb_medals_country["has_medal"]>=50]
df_nb_medals_country

In [ ]:
# Plot the number of medals won per country (NOC)

plt.figure(figsize=(8, 12))
 # hue: color bars based on the number of medals

# Add matplotlib components (title, ylabel)
plt.title("Number of olympic medals per country")
plt.ylabel("");
plt.legend(title="Number of medals")
plt.show()

Python has other data visualization frameworks for more advanced visualization tasks
- **Yellowbrick**: Create Machine Learning visualizations (hyperparameter tuning,  
- **Plotly**: Data visualization library with interactive plots
- **[Dash](https://plotly.com/examples/)/[Streamlit](https://streamlit.io/gallery)**: Build interactive web applications and data dashboards